backend/src/main/resources/schema/LearningScenario.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.isti.cnr.it/research/unit.php?unit=SEDC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LearningScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="scenariocontexthint"/>
        <xs:element name="Trace">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vertex" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="bpmn_activityid" use="optional"/>
                      <xs:attribute type="xs:string" name="bpmn_activitylabel" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TargetVertexes" maxOccurs="1" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="vertex" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="activitycontexthint"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id" use="optional"/>
                  <xs:attribute type="xs:string" name="bpmn_activityid" use="optional"/>
                  <xs:attribute type="xs:string" name="bpmn_activitylabel" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InitialValuation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataObject" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                      <xs:attribute type="xs:string" name="bpmn_camundaid" use="optional"/>
                      <xs:attribute type="xs:string" name="bpmn_dolabel" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ValuationOracle" maxOccurs="1" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ValuationFunction" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="DataObject" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ExpectedValue">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DoHint">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="id"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id"/>
                        <xs:attribute type="xs:string" name="bpmn_camundaid"/>
                        <xs:attribute type="xs:string" name="bpmn_dolabel"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="id"/>
                  <xs:attribute type="xs:string" name="bpmn_activityid"/>
                  <xs:attribute type="xs:string" name="bpmn_activitylabel"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:string" name="bpmn_processlabel"/>
      <xs:attribute type="xs:string" name="bpmn_processid"/>
    </xs:complexType>
  </xs:element>
</xs:schema>